{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nueva categoría</h1>
    <br />
    <hr />
    <a href="{{ path('category_index') }}"> <- Regresar</a>
    <br />
    <br />
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Guardar" />
    {{ form_end(form) }}
{% endblock %}
