{% extends 'base.html.twig' %}

{% block body %}
   <div class="jumbotron">
        <h1 class="display-4">Optime Consulting</h1>
        <p class="lead">Ejercicio de pruebas con Symfony. David Felipe Márquez González</p>
        <hr class="my-4">
        <p>Desarrollado con Symfony 3.4 / MySql.</p>
   </div>
{% endblock %}

