{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar categoría</h1>
    <br />
    <hr />
    <a href="{{ path('product_index') }}"> <- Regresar</a>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Editar" />
    {{ form_end(edit_form) }}
{% endblock %}
