{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo Producto</h1>
    <hr>
    <a href="{{ path('product_index') }}"> <- Regresar</a>
    <br />
    <br />

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Guardar" />
    {{ form_end(form) }}
{% endblock %}
